<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/Copy_of_danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd

In [89]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [ ]:
nyc_payroll.info()

In [ ]:
nyc_payroll.sort_values(["Agency Name"])

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [ ]:
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*

In [90]:
# Assign df variable to the nyc_payroll dataframe
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']
nyc_payroll[ ['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid' ] ]
nyc_payroll.sort_values(['Agency Name'], ascending=True)
nyc_payroll.loc[(nyc_payroll['Agency Name'] == 'DEPARTMENT OF EDUCATION ADMIN')]

# [ ['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid' ] ]

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.0,per Annum,805.0,24469.41,0.00,0.00,0.00,53820.00
8,2022,740,DEPARTMENT OF EDUCATION ADMIN,VARNAUSKAS,JENNA,L,09/03/2019,MANHATTAN,OCCUPATIONAL THERAPIST,ACTIVE,75381.0,per Annum,1664.0,74761.74,0.00,0.00,5462.82,75381.00
18,2022,740,DEPARTMENT OF EDUCATION ADMIN,GRANQUIST,CHRISTINA,NaN,09/24/2017,RICHMOND,PHYSICAL THERAPIST,ON LEAVE,80270.0,per Annum,576.0,24630.80,0.00,0.00,5194.66,80270.00
44,2022,740,DEPARTMENT OF EDUCATION ADMIN,QUIAH,SANDRA,NaN,05/17/2016,MANHATTAN,COMMUNITY ASSOCIATE,ACTIVE,55323.0,per Annum,1820.0,55171.48,0.00,0.00,0.00,55323.00
58,2022,740,DEPARTMENT OF EDUCATION ADMIN,EARL,SHATARA,M,03/13/2022,MANHATTAN,PROCUREMENT ANALYST,ACTIVE,62055.0,per Annum,490.0,16661.33,0.00,0.00,0.00,62055.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764,2023,740,DEPARTMENT OF EDUCATION ADMIN,ROSA,DEISMOND,NaN,07/02/2007,MANHATTAN,COMMUNITY COORDINATOR,ACTIVE,82170.0,per Annum,1820.0,82262.42,22.75,1602.93,3140.75,83772.93
1788,2023,740,DEPARTMENT OF EDUCATION ADMIN,READ,SERIDE,NaN,06/01/2000,MANHATTAN,COMMUNITY COORDINATOR,ACTIVE,67834.0,per Annum,1820.0,58521.00,15.00,639.27,6121.86,68473.27
1891,2023,740,DEPARTMENT OF EDUCATION ADMIN,CORADO DERAS,ELISA,E,11/16/2021,MANHATTAN,COMMUNITY ASSISTANT,ACTIVE,40765.0,per Annum,1820.0,36570.82,0.00,0.00,3000.00,40765.00
1894,2023,740,DEPARTMENT OF EDUCATION ADMIN,YEARDE,YAZMYN,A,05/11/2022,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,ACTIVE,58811.0,per Annum,1610.0,44583.28,0.00,0.00,6698.55,58811.00
1910,2023,740,DEPARTMENT OF EDUCATION ADMIN,AKINTUNDE,FOLASADE,A,09/21/2014,BRONX,PHYSICAL THERAPIST,ACTIVE,80730.0,per Annum,1664.0,80508.74,0.00,0.00,11051.79,80730.00

In [ ]:
nyc_payroll["Total Compensation"] = nyc_payroll["Base Salary"] + nyc_payroll["Total OT Paid"]
nyc_payroll

In [83]:
nyc_payroll.reset_index()

,index,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation,Total_Compensation
0,0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00,53820.00
1,1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29,110.29
2,2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18,33.18
3,3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00,79687.00
4,4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00,1.00
1996,1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00,109852.00
1997,1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18,33.18
1998,1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18,33.18
1999,1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77,49723.77