<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/Copy_of_danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [30]:
nyc_payroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fiscal Year                 2000 non-null   int64
 1   Payroll Number              2000 non-null   int64
 2   Agency Name                 2000 non-null   object
 3   Last Name                   1986 non-null   object
 4   First Name                  1986 non-null   object
 5   Mid Init                    1161 non-null   object
 6   Agency Start Date           2000 non-null   object
 7   Work Location Borough       2000 non-null   object
 8   Title Description           2000 non-null   object
 9   Leave Status as of June 30  2000 non-null   object
 10  Base Salary                 2000 non-null   float64
 11  Pay Basis                   2000 non-null   object
 12  Regular Hours               2000 non-null   float64
 13  Regular Gross Paid          2000 non-null   float64
 14  OT Hours                    2000 non-null   float64
 15  Total OT Paid               2000 non-null   float64
 16  Total Other Pay             2000 non-null   float64
dtypes: float64(6), int64(2), object(9)
memory usage: 265.8+ KB

In [31]:
nyc_payroll.sort_values(["Agency Name"])

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
147,2022,67,ADMIN FOR CHILDREN'S SVCS,BROWN,KIMBERLY,R,01/22/2007,MANHATTAN,CHILD PROTECTIVE SPECIALIST,ACTIVE,60327.00,per Annum,1820.0,60161.66,127.25,4909.12,5160.59
29,2022,67,ADMIN FOR CHILDREN'S SVCS,GIVENS,MINEH,M,09/17/2007,BROOKLYN,AGENCY ATTORNEY,ACTIVE,99801.00,per Annum,1610.0,88993.32,213.50,14892.05,10200.98
610,2022,67,ADMIN FOR CHILDREN'S SVCS,ODUSANYA,SIMONE,O,05/23/2022,MANHATTAN,CHILD PROTECTIVE SPECIALIST,ACTIVE,50757.00,per Annum,140.0,3893.68,0.00,0.00,8.25
336,2022,67,ADMIN FOR CHILDREN'S SVCS,GARDNER,BELINDA,M,11/12/2019,BROOKLYN,CHILD PROTECTIVE SPECIALIST,ACTIVE,55125.00,per Annum,832.0,25130.90,24.00,1003.33,536.08
1859,2023,67,ADMIN FOR CHILDREN'S SVCS,FLAVIN,MOIRA,E,01/09/2017,MANHATTAN,ADMINISTRATIVE CONTRACT SPECIALIST,ACTIVE,120746.00,per Annum,1820.0,117967.08,0.00,0.00,3239.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,2023,56,POLICE DEPARTMENT,MERCHAN,DIANA,NaN,03/18/1996,MANHATTAN,SENIOR POLICE ADMINISTRATIVE AIDE,CEASED,52190.00,per Annum,0.0,206.53,0.00,0.00,17.39
1464,2023,56,POLICE DEPARTMENT,HERNANDEZ,NICHOLAS,J,07/06/2010,MANHATTAN,POLICE OFFICER,ACTIVE,101590.00,per Annum,2080.0,85058.22,410.42,28023.37,15242.09
1991,2023,156,TAXI & LIMOUSINE COMMISSION,VARGHESE,RUBIN,G,05/07/2012,QUEENS,COMPUTER OPERATIONS MANAGER,ACTIVE,140390.00,per Annum,1820.0,140005.32,0.00,0.00,0.00
1915,2023,858,TECHNOLOGY & INNOVATION,HAWKINS,HUNTER,B,06/05/2023,MANHATTAN,SUMMER GRADUATE INTERN,ACTIVE,24.73,per Hour,35.0,865.55,0.00,0.00,0.00
1923,2023,858,TECHNOLOGY & INNOVATION,VRANA,JANICE,L,11/15/2021,MANHATTAN,CALL CENTER REPRESENTATIVE,CEASED,41223.00,per Annum,959.0,20537.45,0.00,0.00,1151.61

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [39]:
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

     First Name  Last Name  Base Salary  Total OT Paid
433     MICHAEL    BIMONTE     233094.0            0.0
61       BEDROS  BOODANIAN     215861.0            0.0
1378     ARVIND     SOHONI     215000.0            0.0
1469     ANDREW     KAPLAN     195000.0            0.0
73     VICTORIA       RICE     187530.0            0.0
858      JOSEPH   PILEWSKI     180450.0            0.0
1379     SAMUEL      DAVID     180000.0            0.0
425      KARINA    JIMENEZ     178000.0            0.0
74     JOYCELYN       NEDD     177113.0            0.0
352    JEANETTE     VARGAS     176947.0            0.0

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*

In [57]:
# Assign df variable to the nyc_payroll dataframe
newcol = nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']
df = nyc_payroll[ ['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid' ] ]
df.sort_values(['Agency Name'], ascending=True)
df.loc[(df['Agency Name'] == 'DEPARTMENT OF EDUCATION ADMIN')]
df.assign(TotalComp=newcol)

,First Name,Last Name,Title Description,Agency Name,Base Salary,Total OT Paid,TotalComp
0,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,DEPARTMENT OF EDUCATION ADMIN,53820.00,0.00,53820.00
1,JUN,ZHOU,TEACHER-GENERAL ED,DEPT OF ED PER DIEM TEACHERS,110.29,0.00,110.29
2,YERIBEL,LOPEZ,TEACHER- PER SESSION,DEPT OF ED PER SESSION TEACHER,33.18,0.00,33.18
3,VERA,KENNEDY,TEACHER,DEPT OF ED PEDAGOGICAL,79687.00,0.00,79687.00
4,AMANDA,LICHVAR,TEACHER SPECIAL EDUCATION,DEPT OF ED PEDAGOGICAL,109852.00,0.00,109852.00
...,...,...,...,...,...,...,...
1995,GEOFFREY,GARNER,ELECTION WORKER,BOARD OF ELECTION POLL WORKERS,1.00,0.00,1.00
1996,JESSICA,FIGUEROA,TEACHER ASSIGNED A,DEPT OF ED PEDAGOGICAL,109852.00,0.00,109852.00
1997,DANIELLE,DIFORTE,TEACHER- PER SESSION,DEPT OF ED PER SESSION TEACHER,33.18,0.00,33.18
1998,STEFANIE,BIONDO,TEACHER- PER SESSION,DEPT OF ED PER SESSION TEACHER,33.18,0.00,33.18
1999,ELPIDIO,ARIAS,SANITATION WORKER,DEPARTMENT OF SANITATION,44064.00,5659.77,49723.77

In [45]:
nyc_payroll["Total Compensation"] = nyc_payroll["Base Salary"] + nyc_payroll["Total OT Paid"]
nyc_payroll

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00
1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29
2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18
3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00
4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00
1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00
1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18
1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18
1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77