<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw4_stoner_brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

### Question 1
- *How many employees have a “Base Salary” within the top 10% of the DataFrame?*

In [4]:
nyc_payroll.quantile(0.90, numeric_only = True)
nyc_payroll.sort_values(['Base Salary'], ascending=False)
between_dates = nyc_payroll["Base Salary"].between(114860.500, 233094.1)
nyc_payroll[between_dates]

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
61,2022,69,HRA/DEPT OF SOCIAL SERVICES,BOODANIAN,BEDROS,L,11/05/2007,MANHATTAN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,215861.0,per Annum,1820.00,215269.60,0.0,0.0,3780.75
73,2022,742,DEPT OF ED PEDAGOGICAL,RICE,VICTORIA,NaN,09/02/1997,MANHATTAN,PRINCIPAL,ACTIVE,187530.0,per Annum,0.00,186164.52,0.0,0.0,13594.88
74,2022,742,DEPT OF ED PEDAGOGICAL,NEDD,JOYCELYN,K,10/15/1979,MANHATTAN,PRINCIPAL,CEASED,177113.0,per Annum,0.00,0.00,0.0,0.0,10836.27
76,2022,742,DEPT OF ED PEDAGOGICAL,ACQUAVITA,FRED,J,09/08/2009,MANHATTAN,ASSISTANT PRINCIPAL,ACTIVE,149166.0,per Annum,0.00,147296.08,0.0,0.0,7227.76
90,2022,742,DEPT OF ED PEDAGOGICAL,DIGREGORIO,CONNIE,NaN,03/19/1997,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,121078.0,per Annum,0.00,121078.08,0.0,0.0,5929.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963,2023,742,DEPT OF ED PEDAGOGICAL,GERMACK,ETHEL,V,09/03/1996,MANHATTAN,TEACHER,ACTIVE,128657.0,per Annum,0.00,128657.04,0.0,0.0,475.00
1966,2023,56,POLICE DEPARTMENT,HARTLEY,STEPHEN,F,04/15/1997,MANHATTAN,SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD,CEASED,120744.0,per Annum,942.88,54584.12,0.0,0.0,41502.39
1988,2023,742,DEPT OF ED PEDAGOGICAL,KAYTON,STACEY,D,09/08/1994,MANHATTAN,TEACHER,ACTIVE,128657.0,per Annum,0.00,128657.04,0.0,0.0,475.00
1991,2023,156,TAXI & LIMOUSINE COMMISSION,VARGHESE,RUBIN,G,05/07/2012,QUEENS,COMPUTER OPERATIONS MANAGER,ACTIVE,140390.0,per Annum,1820.00,140005.32,0.0,0.0,0.00
1992,2023,742,DEPT OF ED PEDAGOGICAL,RATNER DANS,GAYLE,L,09/04/1985,OTHER,TEACHER,CEASED,128657.0,per Annum,0.00,21442.84,0.0,0.0,4574.49

In [5]:

# nyc_payroll['Base Salary'].quantile(0.90)
nyc_payroll.value_counts()

Fiscal Year  Payroll Number  Agency Name                     Last Name   First Name  Mid Init  Agency Start Date  Work Location Borough  Title Description          Leave Status as of June 30  Base Salary  Pay Basis  Regular Hours  Regular Gross Paid  OT Hours  Total OT Paid  Total Other Pay
2022         2               OFFICE OF THE MAYOR             ALPERSTEIN  MICHAEL     L         02/01/2013         MANHATTAN              EXECUTIVE AGENCY COUNSEL   ACTIVE                      154500.00    per Annum  1820.0         154076.77           0.0       0.00            0.00              1
2023         742             DEPT OF ED PEDAGOGICAL          GLEASON     ERIN        M         09/03/2019         MANHATTAN              TEACHER SPECIAL EDUCATION  ACTIVE                      71290.00     per Annum  0.0            70684.00            0.0       0.00            13079.47          1
                                                             DANINO      KATHERINE   A         08/30/2007         MANHATTAN              TEACHER                    ACTIVE                      109852.00    per Annum  0.0            108900.92           0.0       0.00           -5749.89           1
                                                             CRAWFORD    JENNIFER    E         09/04/2001         MANHATTAN              TEACHER                    ACTIVE                      118630.00    per Annum  0.0            118630.08           0.0       0.00           -270.48            1
                                                             COYNE       MADISON     J         09/04/2018         MANHATTAN              TEACHER                    ACTIVE                      72076.00     per Annum  0.0            71945.08            0.0       0.00            1019.56           1
                                                                                                                                                                                                                                                                                                      ..
2022         747             DEPT OF ED PER SESSION TEACHER  BRACHO      MANDI       A         03/18/2002         MANHATTAN              TEACHER- PER SESSION       ACTIVE                      33.18        per Day    0.0            26206.47            0.0       0.00            569.37            1
                                                             BONANNO     LAUREN      A         09/02/2014         MANHATTAN              TEACHER- PER SESSION       CEASED                      33.18        per Day    0.0            0.00                0.0       0.00            134.10            1
                                                             BHAGWANDIN  JAMES       S         10/02/1989         MANHATTAN              TEACHER- PER SESSION       CEASED                      33.18        per Day    0.0            0.00                0.0       0.00            70.59             1
                                                             BELTRAN     ELSA        C         10/30/2007         MANHATTAN              TEACHER- PER SESSION       CEASED                      33.18        per Day    0.0            0.00                0.0       0.00            17.35             1
2023         996             NYC HOUSING AUTHORITY           WARD        SHANAIA     M         07/27/2021         BROOKLYN               CARETAKER                  ACTIVE                      32950.00     per Annum  2080.0         32480.70            154.0     3897.85         441.86            1
Length: 1161, dtype: int64

### Question 2
- *Filter the DataFrame for employees who have “OT Hours” greater than 0 but less than 100, and their “Leave Status as of June 30” is “ACTIVE”.*

In [29]:
# We can filter with the query method and pass in each condition as an argument
# This simplifies the code, compared to using a boolean series for the conditions

emp = nyc_payroll.query("`OT Hours` > 0 & `OT Hours` < 90 & `Leave Status as of June 30` == 'ACTIVE'")
emp.sort_values(['OT Hours'], ascending=True)

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
1051,2023,740,DEPARTMENT OF EDUCATION ADMIN,WILKINS,KATRINA,NaN,07/31/1992,MANHATTAN,COMMUNITY COORDINATOR,ACTIVE,77410.00,per Annum,1820.00,74454.21,0.50,26.60,3797.68
1722,2023,67,ADMIN FOR CHILDREN'S SVCS,HAIRE,CHRISTINE,L,09/29/1997,MANHATTAN,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES,ACTIVE,91168.00,per Annum,1820.00,91231.54,2.75,152.53,3790.12
1159,2023,25,LAW DEPARTMENT,SANDERS,JUAN,L,07/09/2018,MANHATTAN,PARALEGAL AIDE,ACTIVE,54283.00,per Annum,1820.00,54346.21,3.00,68.34,3000.00
834,2022,846,DEPT OF PARKS & RECREATION,REZNIK,MAXIM,NaN,05/21/2021,RICHMOND,LIFEGUARD,ACTIVE,17.19,per Hour,377.75,6125.38,3.25,78.49,2515.96
648,2022,846,DEPT OF PARKS & RECREATION,BYRNE,NEIL,C,05/01/2019,QUEENS,GARDENER,ACTIVE,23.91,per Hour,2054.63,49126.31,4.00,143.46,1009.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,2022,846,DEPT OF PARKS & RECREATION,GONZALEZ,ALEX,NaN,10/01/2007,BROOKLYN,PARK SUPERVISOR,ACTIVE,82503.00,per Annum,2080.00,72864.26,84.00,4401.59,15261.93
451,2022,996,NYC HOUSING AUTHORITY,PARKER,TAJAH,NaN,08/19/2019,MANHATTAN,CARETAKER,ACTIVE,38557.00,per Annum,2080.00,37422.18,84.25,2510.20,3367.10
576,2022,996,NYC HOUSING AUTHORITY,SOSA DE CONCEPC,ANA YSABEL,NaN,06/01/2021,QUEENS,CARETAKER,ACTIVE,32950.00,per Annum,2163.43,36777.26,85.75,2220.15,223.38
678,2022,827,DEPARTMENT OF SANITATION,PATEL,VIRALI,J,03/27/2017,MANHATTAN,CERTIFIED IT DEVELOPER,ACTIVE,132185.00,per Annum,1400.00,97919.34,87.00,4767.19,4185.57
1276,2023,71,DEPT. OF HOMELESS SERVICES,SIMMONS,DEVONNE,T,02/20/2023,MANHATTAN,SPECIAL OFFICER,ACTIVE,34834.00,per Annum,680.00,11356.85,87.00,2257.59,556.39

In [24]:
nyc_payroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fiscal Year                 2000 non-null   int64
 1   Payroll Number              2000 non-null   int64
 2   Agency Name                 2000 non-null   object
 3   Last Name                   1986 non-null   object
 4   First Name                  1986 non-null   object
 5   Mid Init                    1161 non-null   object
 6   Agency Start Date           2000 non-null   object
 7   Work Location Borough       2000 non-null   object
 8   Title Description           2000 non-null   object
 9   Leave Status as of June 30  2000 non-null   object
 10  Base Salary                 2000 non-null   float64
 11  Pay Basis                   2000 non-null   object
 12  Regular Hours               2000 non-null   float64
 13  Regular Gross Paid          2000 non-null   float64
 14  OT Hours                    2000 non-null   float64
 15  Total OT Paid               2000 non-null   float64
 16  Total Other Pay             2000 non-null   float64
dtypes: float64(6), int64(2), object(9)
memory usage: 265.8+ KB