<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw2_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [11]:
nhl = pd.read_csv('https://bcdanl.github.io/data/NHL-1617.csv')
nhl

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
0,1,30.04.1988,Hamilton,CAN,CAN,69,170,Abbott,Spencer,LW,CHI,1,0,0,514,8.57
1,2,25.02.1987,Muskegon,USA,USA,74,218,Abdelkader,Justin,LW/RW,DET,64,7,14,63969,16.65
2,3,23.09.1993,Stockholm,SWE,SWE,71,196,Aberg,Pontus,LW,NSH,15,1,1,11102,12.33
3,4,01.12.1991,Johnston,USA,USA,70,208,Acciari,Noel,C,BOS,29,2,3,18047,10.23
4,5,30.04.1992,Morristown,USA,USA,72,202,Agostino,Kenny,LW,STL,7,1,2,5366,12.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,18.04.1993,Huddinge,SWE,SWE,74,215,Zibanejad,Mika,C/RW,NYR,56,14,23,57362,17.07
884,885,01.09.1987,Toronto,CAN,CAN,71,180,Zolnierczyk,Harry,LW,NSH,24,2,2,12776,8.87
885,886,01.09.1987,Oslo,NOR,NOR,67,179,Zuccarello,Mats,RW/C/LW,NYR,80,15,44,90378,18.83
886,887,16.01.1992,Newport Beach,USA,USA,71,187,Zucker,Jason,LW/RW,MIN,79,22,25,72455,15.28
887,888,15.05.1995,St. Petersburg,RUS,RUS,73,224,Zykov,Valentin,LW,CAR,2,1,0,750,6.25

In [4]:
# Question 1 - How many players had at least some ice time?
# Examine the non-null values present in the variables
ice_time_count = nhl[ 'TOI' ].count()
# Sort the result set ascending to ensure there are no values of 0, indicating no ice time for a player
# nhl.sort_values(['TOI'], ascending = True)
print(ice_time_count, 'players had some ice time' )

888 players had some ice time

In [20]:
# Question 2 - Who is the top scorer in terms of goals?
# The top scorer can be determined by sorting the goal variable ('G') in DESC order
nhl.sort_values(by = ['G'], ascending = False)

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
149,150,07.08.1987,Cole Harbour,CAN,CAN,71,200,Crosby,Sidney,C,PIT,75,44,45,89450,19.88
499,500,17.09.1997,Scottsdale,USA,USA,75,216,Matthews,Auston,C,TOR,82,40,29,86745,17.53
426,427,17.06.1993,Maykop,RUS,RUS,71,178,Kucherov,Nikita,RW,T.B,74,40,45,86320,19.43
485,486,11.05.1988,Halifax,CAN,CAN,69,181,Marchand,Brad,LW/C,BOS,80,39,46,93295,19.35
802,803,13.12.1991,Yaroslavl,RUS,RUS,72,219,Tarasenko,Vladimir,RW,STL,82,39,36,90872,18.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,28.09.1987,Rome,USA,USA,77,228,Sestito,Tom,LW,PIT,13,0,2,4315,5.53
386,387,12.08.1996,Orsk,RUS,RUS,74,194,Kamenev,Vladislav,LW/C,NSH,2,0,0,1207,10.07
377,378,16.08.1990,Montrose,CAN,CAN,69,176,Jones,Connor,C/LW,NYI,4,0,0,2843,11.85
374,375,14.02.1992,Sudbury,CAN,CAN,70,180,Johnston,Ryan,D,MTL,7,0,0,4145,9.87
0,1,30.04.1988,Hamilton,CAN,CAN,69,170,Abbott,Spencer,LW,CHI,1,0,0,514,8.57

In [19]:
# Question 3 - How can we count the number of NHL players for each country?
# Count the number of occurrences for each unique value in the variable ('Cntry')
nhl[ 'Cntry' ].value_counts()

CAN    415
USA    242
SWE     77
RUS     39
CZE     31
FIN     30
CHE     12
SVK     10
DNK      9
DEU      6
AUT      5
FRA      4
NOR      2
LVA      1
EST      1
SVN      1
GBR      1
HRV      1
ITA      1
Name: Cntry, dtype: int64