<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_module_1_hw1_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Question 1
# This code assigns the integer value 5 to the variable x and prints the result to the terminal
x = 5
print(x)

5

In [4]:
# Question 2
# In this example, 2 will be the first value returned, because it's in position 1 (The number 1 is actually in position 0)
# and 4 will be the last number returned in the range, because it represents the end index position minus one
lst = [1,2,3,4,5]
print(lst[1:4])

[2, 3, 4]

In [15]:
# Question 3
# The syntax below illustrates how to create key/value pairs in a dictionary. The pair is separated by a colon, with a comma between pairs
# To retrieve the value from a key, place the key in square brackets next to the dictionary
lst_fruits = {"apple": 5, "banana": 3, "cherry": 7}
print(lst_fruits["banana"])

3

In [8]:
# Question 4
# True and False would evaluate to false, when evaluating a single condition.  Both the left and right operands must be true in an AND comparison to return a true value.
# Example: 19 == 20 cannot be both true and false, so this is false

# True or False would evaluate to true, when evaluating a single condition.  With the OR operator, either operand must evaluate to true, for the entire expression to be true.  Since all possibilities will be either true or false, any condition will be true
# Example: 19 == 20 is false, so this satifies the condition and evaluates the entire expression to true

# This expression would evaluate to true, as int(100) is not equal to str(100), as they are different datatypes, and 25 is less than 36
# The NOT operator negates true, so the entire exmpression is 'not false' which is true
not (100 == '100' and 25 < 36)

True

In [9]:
# Question 5
# The following code will print to the terminal a certain category label, based on the value of the variable score
score = 85

if score > 90:
  print("Well Done")
elif score >= 40 and score <= 90:
  print("Good")
else:
  print("Bad Luck")

Good

In [41]:
# Question 6
# This code iterates through each list element and returns it as a separate row in the output
name_list = ["coding", "for", "data", "analysts"]

for item in name_list:
  print(item)

coding
for
data
analysts

In [3]:
import math

In [11]:
# Question 7
# To import the math module, simply type <import math> with an optional alias
# To confirm the import, you can optionally use <help('modules')> for a list of locally-installed modules
math.sqrt(16)

4.0