<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw2_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [ ]:
nhl = pd.read_csv('https://bcdanl.github.io/data/NHL-1617.csv')
nhl

In [14]:
# Question 1 - How many players had at least some ice time?
# Examine the non-null values present in the TOI variable
ice_time_count = nhl[ 'TOI' ].count()
ice_time_count

888

In [21]:
# Question 1 (con't) - How many players had at least some ice time?
# Sort the result set ascending to ensure there are no values of 0, indicating no ice time for a player
nhl.sort_values(['TOI'], ascending = True)

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
650,651,06.10.1994,Dauphin,CAN,CAN,74,215,Pulock,Ryan,D,NYI,1,0,0,237,3.95
460,461,16.02.1989,Toronto,CAN,CAN,70,203,Liambas,Mike,LW,NSH,1,0,0,282,4.70
671,672,25.03.1992,Zagreb,HRV,HRV,74,200,Rendulic,Borna,RW/C,VAN,1,0,0,291,4.85
335,336,25.07.1993,Val-d'Or,CAN,CAN,76,210,Henley,Samuel,C/RW,COL,1,1,0,318,5.30
584,585,29.07.1994,Halifax,CAN,CAN,73,215,O'Brien,Liam,C/LW,WSH,1,0,0,368,6.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,393,31.05.1990,Landsbro,SWE,SWE,72,191,Karlsson,Erik,D,OTT,77,17,54,123989,26.83
678,679,27.10.1994,Turku,FIN,FIN,76,203,Ristolainen,Rasmus,D,BUF,79,6,39,125458,26.47
94,95,27.03.1985,Roseau,USA,USA,77,260,Byfuglien,Dustin,D/RW,WPG,80,13,39,131734,27.45
797,798,21.01.1985,Madison,USA,USA,74,206,Suter,Ryan,D,MIN,82,9,31,132469,26.93
181,182,08.12.1989,London,CAN,CAN,73,195,Doughty,Drew,D,L.A,82,12,32,133550,27.15

In [22]:
# Question 1 (con't)
# Print the output to the terminal
print(ice_time_count, 'players had some ice time' )

888 players had some ice time

In [23]:
# Question 2 - Who is the top scorer in terms of goals?
# The top scorer can be determined by sorting the goal variable ('G') in DESC order
nhl.sort_values(by = ['G'], ascending = False)

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
149,150,07.08.1987,Cole Harbour,CAN,CAN,71,200,Crosby,Sidney,C,PIT,75,44,45,89450,19.88
499,500,17.09.1997,Scottsdale,USA,USA,75,216,Matthews,Auston,C,TOR,82,40,29,86745,17.53
426,427,17.06.1993,Maykop,RUS,RUS,71,178,Kucherov,Nikita,RW,T.B,74,40,45,86320,19.43
485,486,11.05.1988,Halifax,CAN,CAN,69,181,Marchand,Brad,LW/C,BOS,80,39,46,93295,19.35
802,803,13.12.1991,Yaroslavl,RUS,RUS,72,219,Tarasenko,Vladimir,RW,STL,82,39,36,90872,18.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,28.09.1987,Rome,USA,USA,77,228,Sestito,Tom,LW,PIT,13,0,2,4315,5.53
386,387,12.08.1996,Orsk,RUS,RUS,74,194,Kamenev,Vladislav,LW/C,NSH,2,0,0,1207,10.07
377,378,16.08.1990,Montrose,CAN,CAN,69,176,Jones,Connor,C/LW,NYI,4,0,0,2843,11.85
374,375,14.02.1992,Sudbury,CAN,CAN,70,180,Johnston,Ryan,D,MTL,7,0,0,4145,9.87
0,1,30.04.1988,Hamilton,CAN,CAN,69,170,Abbott,Spencer,LW,CHI,1,0,0,514,8.57

In [30]:
# Question 3 - How can we count the number of NHL players for each country?
# Count the number of occurrences for each unique value in the variable ('Cntry')
nhl[ 'Cntry' ].value_counts()

CAN    415
USA    242
SWE     77
RUS     39
CZE     31
FIN     30
CHE     12
SVK     10
DNK      9
DEU      6
AUT      5
FRA      4
NOR      2
LVA      1
EST      1
SVN      1
GBR      1
HRV      1
ITA      1
Name: Cntry, dtype: int64

In [31]:
# Question 4 - How many unique countries are in nfl.csv?
nhl[['Cntry']].nunique()

Cntry    19
dtype: int64

In [3]:
# Question 5 - Which three nationalities have the highest number of players?
nhl[ 'Nat' ].value_counts()

CAN    413
USA    243
SWE     79
RUS     38
FIN     32
CZE     32
CHE     13
SVK     11
DNK      9
DEU      5
FRA      4
AUT      3
NOR      2
LVA      1
SVN      1
GBR      1
HRV      1
Name: Nat, dtype: int64