<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw6_stoner_brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd

In [34]:
pd.set_option('display.max_rows', None)

In [35]:
path = 'https://bcdanl.github.io/data/climate_finance.csv'
climate_finance = pd.read_csv(path)

In [36]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

### Question 1
- *For each party, calculate the total funding contributions that were disbursed or provided for mitigation projects for each year.*

In [ ]:
# Cast the Contribution variable as integer to convert any exponential notation
climate_finance['Contribution'] = climate_finance['Contribution'].astype('int64')
# Combine multiple conditions to filter observations
filtered_df = climate_finance.loc[(climate_finance['Status'] == 'provided') | (climate_finance['Status'] == 'disbursed') & (climate_finance['Type of support'] == 'mitigation')]
sub_df = filtered_df
# Perform groupby operation by party and year and aggregate the total funding contribution on the filtered dataframe
aggregated_df = sub_df.groupby(['Party', 'Year']).agg(Total_Funding=('Contribution', 'sum'))
aggregated_df

### Question 2
- *How many parties have provided positive funding contributions to other countries or regions for their adaptation projects for every single year from 2011 to 2018?*

In [79]:
# Verify the total number of unique years in the dataframe
total_years = climate_finance['Year'].nunique()
# Filter the dataframe by 'status' for funding statuses and 'type of support'
statuses_to_keep = ['provided', 'disbursed']
filtered_df = climate_finance[climate_finance['Status'].isin(statuses_to_keep) & (climate_finance['Type of support'] == 'adaptation')]

# Group by party on the filtered dataframe and keep only those countries that appear in every year
regions_in_all_years = filtered_df.groupby('Party').filter(lambda x: x['Year'].nunique() == total_years)
# Display the results as a list or series
# We can see that 8 parties met the criteria in the question
print(regions_in_all_years['Party'].unique())
# print(regions_in_all_years['Party'].value_counts())

['Canada' 'Iceland' 'Ireland' 'Netherlands' 'New Zealand' 'Portugal'
 'Slovakia' 'Switzerland']

In [ ]:
Australia = climate_finance['Party'] == 'Australia'
climate_finance[ Australia ]

### Question 3
- *What are the minimum, first quartile, median, thrid quartile, maximum, mean, and standard deviation of Close and Volume for each company?*

In [108]:
path = 'https://bcdanl.github.io/data/stock_2019_2024.csv'
stock = pd.read_csv(path)

In [166]:
df = stock
pd.set_option('display.float_format', lambda x: '%.2f' % x)
# Opting to write custom functions, instead of using describe(), to remove count and control how the variables are ordered
def percent_25(x):
  return x.quantile(0.25)
def percent_75(x):
  return x.quantile(0.75)
# Group by company and return the aggregations for the 'Close' variable
round(df.groupby('company')['Close', 'Volume'].agg(['min', percent_25, 'median', percent_75, 'max', 'mean', 'std']), 3)

<ipython-input-166-7e492bc4704c>:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  round(df.groupby('company')['Close', 'Volume'].agg(['min', percent_25, 'median', percent_75, 'max', 'mean', 'std']), 3)

        Close                                                      Volume  \
          min percent_25 median percent_75    max   mean    std       min
company
AMZN    75.01      96.00 129.12     159.00 186.57 129.02  31.46  17626000
APPL    35.55      78.98 136.91     164.41 198.11 125.32  47.11  24048300
GOOG    50.80      70.80 102.22     129.78 154.84 100.37  30.76   6936000
META    88.91     182.49 226.29     303.94 512.19 243.21  78.51   5467500
MSFT    97.40     180.01 246.27     299.81 420.55 242.42  77.62   8989200
NVDA    32.00      72.83 152.06     247.22 926.69 196.31 157.00   9788400
TSLA    11.93      52.06 199.68     250.22 409.97 172.02 106.47  29401800

                                                                       \
         percent_25       median   percent_75        max         mean
company
AMZN    52393250.00  65266100.00  87283100.00  311346000  74672307.23
APPL    66187900.00  87360000.00 117386750.00  426510000 100026686.80
GOOG    20826650.00  25888000.00  32899000.00  124140000  28893794.42
META    14838100.00  19434200.00  27180750.00  232316600  23288528.64
MSFT    21510350.00  26292900.00  33162000.00   97012700  29199648.85
NVDA    32925400.00  43474400.00  56546800.00  251152800  46520999.01
TSLA    81342300.00 108834000.00 155254500.00  914082000 132981184.72


                std
company
AMZN    33459634.46
APPL    52335160.54
GOOG    12705045.15
META    15428011.87
MSFT    12237899.89
NVDA    19890346.43
TSLA    84100498.39

In [ ]:
df = stock
grp_company = df.groupby('company')
grp_company['Volume'].describe()


#grp_company.describe()
#grp_company.get_group('AMZN')
#print(grp_company)

### Question 4
- *Find the 10 largest values for Volume for each company using a lambda function.*