<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw5_stoner_brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
fao = pd.read_csv("https://bcdanl.github.io/data/fao_stat.csv",
                  encoding = 'ISO-8859-1')

In [3]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
fao

### Question 1
- *What percentage of the values is missing for each variable?*

In [ ]:
# Here we can use method chaining to calculate the percentage of null values in each variable
# To verify the results, fao.info() will display both the total observations and non-null counts
# For example, sanitation_service has 1772 non-null values of the 1854 total observations, which gives us 82 null entries (1854 - 1772)
# 82 / 1854 = 4.42%
fao.info()
print(' ')
(
fao.isna()
   .mean()
   .round(4) * 100
  )

### Question 2
- *Fill missing values in the gdp_per_capita variable with the mean value of that variable.*

In [ ]:
# Look at the number of NaN values in the variable, just to ensure we do have NaN values
fao['gdp_per_capita'].isna().sum()

# Find the mean of the values in the gdp_per_capita variable
mean_value = fao['gdp_per_capita'].mean().round(1)
mean_value

# Add the imputed value to the dataframe
fao['gdp_per_capita'].fillna(value=mean_value, inplace=True)
fao

### Question 3
- *Drop observations where drinking_water or sanitation_service information is missing.*

In [ ]:
# We can pass in a list of variables to the dropna method to remove observations with missing values in those variables
# To verify this is working correctly, it was observed that index 60 through 62 was removed, which originally had NaN values in the dataframe for the drinking_water variable
fao.dropna(subset = ['drinking_water', 'sanitation_service'])

### Question 4
- *What is the average drinking_water access percentage for each Area grouped by SSA status?*

In [ ]:
# The SSA variable is of type bool, so we know that it consists of two groups
# Within those groups, the Area variable is also passed in to further aggregate the results by area
groups = fao.groupby(['SSA', 'Area'])
groups.mean().round(2)

### Question 5
- *Calculate the mean sanitation_service percentage for each combination of SSA status and Year.*

In [ ]:
# Reducing the variables displayed to more easily view the results
# Calculate the mean percentage of the sanitation_service variable and aggregate the result by year and SSA boolean value
df = fao[['SSA', 'Year', 'sanitation_service']]
groups = df.groupby(['SSA', 'Year'])
groups.mean().round(2)

### Question 6
- *For each year, find the 5 worst countries in terms of drinking_water.*

In [12]:
# Take an initial look at the grouped and sorted dataframe to determine and match the drinking_water values with the completed solution
sorted_df = fao.sort_values(by='drinking_water')
sorted_df
(
sorted_df
  .groupby('Year')['drinking_water']
  .nsmallest(5)
)

Year
2012  585     37.4
      1287    39.2
      477     40.8
      1548    41.2
      1728    43.2
2013  586     39.0
      1288    40.0
      1549    41.3
      478     41.5
      316     43.7
2014  587     40.5
      1289    40.7
      1550    41.3
      479     42.1
      308     43.4
2015  1551    41.2
      1290    41.5
      588     42.1
      309     42.3
      480     42.7
2016  1552    41.2
      310     41.3
      1291    42.3
      481     43.4
      589     43.6
2017  311     40.2
      1553    41.1
      1292    43.0
      482     44.0
      590     45.1
2018  312     39.2
      1554    41.0
      1293    43.8
      483     44.6
      321     45.5
2019  313     38.2
      1555    40.8
      1294    44.6
      484     45.3
      322     45.8
2020  314     37.2
      1556    41.0
      1295    45.3
      485     46.0
      323     46.2
Name: drinking_water, dtype: float64

### Question 6 - Continued

In [26]:
# Select the variables for the output
df = fao[['SSA', 'Area', 'Year', 'drinking_water']]
df.rename(columns={'drinking_water':'% Population'}, inplace=True)
# Set the initial grouping by year
group_by_year = df.groupby('Year')
# Apply a custom function to the group, sort values, remove NaN values from the result, and finally return the lowest 5 values in each (year) group
sort_in_group = group_by_year.apply(lambda x: x.sort_values(by='% Population', ascending=True).dropna().head(5))
sort_in_group

<ipython-input-26-a544b933b4e2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'drinking_water':'% Population'}, inplace=True)

             SSA                              Area  Year  % Population
Year
2012 585    True                          Ethiopia  2012          37.4
     1287  False                  Papua New Guinea  2012          39.2
     477    True  Democratic Republic of the Congo  2012          40.8
     1548   True                       South Sudan  2012          41.2
     1728   True                            Uganda  2012          43.2
2013 586    True                          Ethiopia  2013          39.0
     1288  False                  Papua New Guinea  2013          40.0
     1549   True                       South Sudan  2013          41.3
     478    True  Democratic Republic of the Congo  2013          41.5
     316    True                              Chad  2013          43.7
2014 587    True                          Ethiopia  2014          40.5
     1289  False                  Papua New Guinea  2014          40.7
     1550   True                       South Sudan  2014          41.3
     479    True  Democratic Republic of the Congo  2014          42.1
     308    True          Central African Republic  2014          43.4
2015 1551   True                       South Sudan  2015          41.2
     1290  False                  Papua New Guinea  2015          41.5
     588    True                          Ethiopia  2015          42.1
     309    True          Central African Republic  2015          42.3
     480    True  Democratic Republic of the Congo  2015          42.7
2016 1552   True                       South Sudan  2016          41.2
     310    True          Central African Republic  2016          41.3
     1291  False                  Papua New Guinea  2016          42.3
     481    True  Democratic Republic of the Congo  2016          43.4
     589    True                          Ethiopia  2016          43.6
2017 311    True          Central African Republic  2017          40.2
     1553   True                       South Sudan  2017          41.1
     1292  False                  Papua New Guinea  2017          43.0
     482    True  Democratic Republic of the Congo  2017          44.0
     320    True                              Chad  2017          45.1
2018 312    True          Central African Republic  2018          39.2
     1554   True                       South Sudan  2018          41.0
     1293  False                  Papua New Guinea  2018          43.8
     483    True  Democratic Republic of the Congo  2018          44.6
     321    True                              Chad  2018          45.5
2019 313    True          Central African Republic  2019          38.2
     1555   True                       South Sudan  2019          40.8
     1294  False                  Papua New Guinea  2019          44.6
     484    True  Democratic Republic of the Congo  2019          45.3
     322    True                              Chad  2019          45.8
2020 314    True          Central African Republic  2020          37.2
     1556   True                       South Sudan  2020          41.0
     1295  False                  Papua New Guinea  2020          45.3
     485    True  Democratic Republic of the Congo  2020          46.0
     323    True                              Chad  2020          46.2

### Question 7
- *For each year, find the 5 worst countries in terms of children_stunted.*