<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [9]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [ ]:
nyc_payroll.reset_index()

In [ ]:
nyc_payroll.info()
# nyc_payroll.mean()

In [ ]:
nyc_payroll.sort_values(["Agency Name"])

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [ ]:
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*

In [ ]:
# Add a variable to the dataframe that calculates total compensation
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']
# Select only the required variables from the dataframe and assign them to a new (sub) dataframe
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid', 'Total Compensation']]
# Set the index on a new column that will be useful for further data wrangling
sub_nyc_payroll.set_index("Agency Name", inplace = True)
# Extract observations where the agency name is DEPARTMENT OF EDUCATION ADMIN
sub_nyc_payroll.loc[ "DEPARTMENT OF EDUCATION ADMIN" ]

,First Name,Last Name,Title Description,Base Salary,Total OT Paid,Total Compensation
Agency Name,,,,,,
DEPARTMENT OF EDUCATION ADMIN,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,53820.0,0.00,53820.00
DEPARTMENT OF EDUCATION ADMIN,JENNA,VARNAUSKAS,OCCUPATIONAL THERAPIST,75381.0,0.00,75381.00
DEPARTMENT OF EDUCATION ADMIN,CHRISTINA,GRANQUIST,PHYSICAL THERAPIST,80270.0,0.00,80270.00
DEPARTMENT OF EDUCATION ADMIN,SANDRA,QUIAH,COMMUNITY ASSOCIATE,55323.0,0.00,55323.00
DEPARTMENT OF EDUCATION ADMIN,SHATARA,EARL,PROCUREMENT ANALYST,62055.0,0.00,62055.00
...,...,...,...,...,...,...
DEPARTMENT OF EDUCATION ADMIN,DEISMOND,ROSA,COMMUNITY COORDINATOR,82170.0,1602.93,83772.93
DEPARTMENT OF EDUCATION ADMIN,SERIDE,READ,COMMUNITY COORDINATOR,67834.0,639.27,68473.27
DEPARTMENT OF EDUCATION ADMIN,ELISA,CORADO DERAS,COMMUNITY ASSISTANT,40765.0,0.00,40765.00
DEPARTMENT OF EDUCATION ADMIN,YAZMYN,YEARDE,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,58811.0,0.00,58811.00
DEPARTMENT OF EDUCATION ADMIN,FOLASADE,AKINTUNDE,PHYSICAL THERAPIST,80730.0,0.00,80730.00

### Question 3
- *Using set_index(), change the DataFrame’s index to “Last Name”, then locate the data for a specific last name, say “Doe”, and display their “Agency Name”, “Base Salary”, and “Total OT Paid”.*

In [ ]:
# Assign the dataframe to the variable 'df'
df = nyc_payroll[['Agency Name', 'Last Name', 'Base Salary', 'Total OT Paid']]
# Set the index to the 'Last Name' variable
df.set_index("Last Name", inplace = True)
# Extract the information for the employee with a last name ABURTO
df.loc[ "ABURTO" ]

Agency Name      NYC EMPLOYEES RETIREMENT SYS
Base Salary                           76587.0
Total OT Paid                          694.62
Name: ABURTO, dtype: object

### Question 4
- *Find the 5 employees with the highest “Regular Gross Paid” and calculate their average “OT Hours”. Also, reset the index if you have changed it previously.*

In [5]:
# Reset the index from any previous changes
nyc_payroll.reset_index()
# Assign the dataframe to the variable 'df'
df = nyc_payroll[ ['Last Name', 'First Name', 'Regular Gross Paid', 'OT Hours'] ]
# return the 5 largest values of the 'Regular Gross Paid' variable
top = df.nlargest(5, 'Regular Gross Paid', keep = 'all')
top

      Last Name First Name  Regular Gross Paid  OT Hours
61    BOODANIAN     BEDROS           215269.60       0.0
1378     SOHONI     ARVIND           193479.52       0.0
73         RICE   VICTORIA           186164.52       0.0
1469     KAPLAN     ANDREW           178356.14       0.0
1438      NOSSA     ROBERT           176719.36      32.5

### Question 4 (continued)

In [ ]:
# Calculate the average of OT hours for the top 5 employees with the highest regular gross paid amounts
otavg = round(top.loc[:, 'OT Hours'].mean(), 2)
print('The average OT hours for the top 5 employees with the highest regular gross pay is {}'.format(otavg))

The average OT hours for the top 5 employees with the highest regular gross pay is 6.5

### Question 5
- *Sort the DataFrame by “Fiscal Year” and “Total Other Pay” in descending order, then set “First Name” as the index and use the loc accessor to retrieve the “Total Other Pay” for a specific first name, say “John”.*

In [ ]:
# Reset the index from previous functions
nyc_payroll.reset_index()
# Assign the dataframe to variable 'sub_nyc_payroll'
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Fiscal Year', 'Total Other Pay']]
df = sub_nyc_payroll.sort_values(by= ['Fiscal Year', 'Total Other Pay'], ascending=False)
df.set_index("First Name", inplace = True)
df.loc[ "JOHN" ]

              Last Name  Fiscal Year  Total Other Pay
First Name
JOHN              VAETH         2023         22069.38
JOHN             FLECHA         2023         21871.86
JOHN          DINKELMAN         2023         19970.81
JOHN             BRODIE         2023         18133.17
JOHN            RAVALLI         2023         13704.17
JOHN        LEWANDOWSKI         2023          8790.69
JOHN           AKINDAYO         2023          6558.46
JOHN            KEILING         2023          4477.75
JOHN             MAUSER         2023          3186.05
JOHN        ROBERTS JR.         2022         20985.48
JOHN           THOMPSON         2022         20560.76
JOHN             SLEVIN         2022         20544.53
JOHN               COBB         2022         19878.38
JOHN           SYNOWIEC         2022         14771.53
JOHN          FERRAIOLO         2022          1662.47
JOHN            HOLLAND         2022             1.17
JOHN           CORCORAN         2022             0.00
JOHN              SHORT         2022             0.00
JOHN            OSBORNE         2022             0.00

### Question 6
- *Select employees who have “OT Hours” greater than 0, calculate their “OT Rate” (Total OT Paid / OT Hours), and then find the employee with the highest “OT Rate”. Display their full name and OT Rate.*

In [69]:
# df = nyc_payroll
nyc_payroll['OT Rate'] = round(nyc_payroll['Total OT Paid'] / nyc_payroll['OT Hours'], 2)
df = nyc_payroll
df = df.loc[df['OT Hours'] > 0]
df.set_index(['OT Hours'])
df.sort_values(['OT Rate'], ascending=False)


#df.sort_values(['OT Hours'], ascending=True)

#df

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,OT Rate
800,2022,57,FIRE DEPARTMENT,DEBONIS,DANIEL,F,07/01/1998,BROOKLYN,FIREFIGHTER,CEASED,92073.00,per Annum,874.32,57396.80,26.00,4527.01,31987.56,174.12
1761,2023,826,DEPT OF ENVIRONMENT PROTECTION,MASTROIANNI,PAUL,J,09/12/2016,BRONX,PLUMBER,ACTIVE,398.02,per Day,1855.00,122442.53,264.00,36295.71,0.00,137.48
686,2022,57,FIRE DEPARTMENT,RUBANO,ANTHONY,T,02/01/2000,BROOKLYN,FIREFIGHTER,CEASED,92073.00,per Annum,1022.88,63955.43,60.00,7849.97,13668.53,130.83
571,2022,996,NYC HOUSING AUTHORITY,DIAZ,CHRISTOPHER,NaN,08/24/1998,BRONX,SUPERVISOR PLASTERER,ACTIVE,396.40,per Day,2080.00,129340.14,239.75,29404.64,4996.07,122.65
374,2022,56,POLICE DEPARTMENT,SLEVIN,JOHN,F,07/18/1996,MANHATTAN,LIEUTENANT D/A COMMANDER OF DETECTIVE SQUAD,ACTIVE,149068.00,per Annum,2080.00,148659.68,398.75,45731.12,20544.53,114.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,2023,846,DEPT OF PARKS & RECREATION,MACON,JANICE,L,08/02/2022,MANHATTAN,JOB TRAINING PARTICIPANT,ACTIVE,16.88,per Hour,921.58,15104.73,19.75,327.80,1291.83,16.60
1295,2023,846,DEPT OF PARKS & RECREATION,ACEVEDO,JERITZA,H,07/13/2022,MANHATTAN,JOB TRAINING PARTICIPANT,CEASED,16.39,per Hour,578.48,9481.35,5.00,81.95,0.00,16.39
1287,2023,846,DEPT OF PARKS & RECREATION,VINAS,ASHLEY,NaN,04/27/2022,RICHMOND,JOB TRAINING PARTICIPANT,CEASED,16.39,per Hour,800.27,13261.26,8.00,131.12,2.70,16.39
351,2022,846,DEPT OF PARKS & RECREATION,COVINGTON,SAMONE,D,03/25/2022,BROOKLYN,JOB TRAINING PARTICIPANT,ACTIVE,15.45,per Hour,229.80,3550.43,12.25,189.27,0.00,15.45
555,2022,740,DEPARTMENT OF EDUCATION ADMIN,STANISLAUS,DILYON,D,08/19/2018,MANHATTAN,COMMUNITY ASSOCIATE,ACTIVE,43968.00,per Annum,1820.00,43847.44,6.50,78.21,0.00,12.03