<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_module_1_hw1_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# This code assigns the integer value 5 to the variable x and prints the result to the terminal
x = 5
print(x)

5

In [4]:
# In this example, 2 will be the first value returned, because it's in position 1 (1 is actually in position 0)
# and 4 will be the last number returned in the range, because it represents the end index position minus one
lst = [1,2,3,4,5]
print(lst[1:4])

[2, 3, 4]

In [15]:
# The syntax below illustrates how to create key/value pairs in a dictionary. The pair is separated by a colon, with a comma between pairs
# To retrieve the value from a key, place the key in square brackets next to the dictionary
lst_fruits = {"apple": 5, "banana": 3, "cherry": 7}
print(lst_fruits["banana"])

3