<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [136]:
import pandas as pd

In [137]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [160]:
nyc_payroll.reset_index()

,index,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00
1,1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29
2,2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18
3,3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00
4,4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00
1996,1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00
1997,1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18
1998,1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18
1999,1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77

In [37]:
#nyc_payroll.info()
nyc_payroll.mean()

<ipython-input-37-0941feb81c4d>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  nyc_payroll.mean()

Fiscal Year            2022.500000
Payroll Number          577.804000
Base Salary           49809.525245
Regular Hours           616.458680
Regular Gross Paid    43918.969815
OT Hours                 70.948525
Total OT Paid          4032.891630
Total Other Pay        4289.623745
Total Compensation    53842.416875
dtype: float64

In [ ]:
nyc_payroll.sort_values(["Agency Name"])

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [4]:
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

     First Name  Last Name  Base Salary  Total OT Paid
433     MICHAEL    BIMONTE     233094.0            0.0
61       BEDROS  BOODANIAN     215861.0            0.0
1378     ARVIND     SOHONI     215000.0            0.0
1469     ANDREW     KAPLAN     195000.0            0.0
73     VICTORIA       RICE     187530.0            0.0
858      JOSEPH   PILEWSKI     180450.0            0.0
1379     SAMUEL      DAVID     180000.0            0.0
425      KARINA    JIMENEZ     178000.0            0.0
74     JOYCELYN       NEDD     177113.0            0.0
352    JEANETTE     VARGAS     176947.0            0.0

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*

In [139]:
# Add a variable to the dataframe that calculates total compensation
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']
# Select only the required variables from the dataframe and assign them to a new (sub) dataframe
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid', 'Total Compensation']]
# Set the index on a new column that will be useful for further data wrangling
sub_nyc_payroll.set_index("Agency Name", inplace = True)
# Extract observations where the agency name is DEPARTMENT OF EDUCATION ADMIN
sub_nyc_payroll.loc[ "DEPARTMENT OF EDUCATION ADMIN" ]

,First Name,Last Name,Title Description,Base Salary,Total OT Paid,Total Compensation
Agency Name,,,,,,
DEPARTMENT OF EDUCATION ADMIN,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,53820.0,0.00,53820.00
DEPARTMENT OF EDUCATION ADMIN,JENNA,VARNAUSKAS,OCCUPATIONAL THERAPIST,75381.0,0.00,75381.00
DEPARTMENT OF EDUCATION ADMIN,CHRISTINA,GRANQUIST,PHYSICAL THERAPIST,80270.0,0.00,80270.00
DEPARTMENT OF EDUCATION ADMIN,SANDRA,QUIAH,COMMUNITY ASSOCIATE,55323.0,0.00,55323.00
DEPARTMENT OF EDUCATION ADMIN,SHATARA,EARL,PROCUREMENT ANALYST,62055.0,0.00,62055.00
...,...,...,...,...,...,...
DEPARTMENT OF EDUCATION ADMIN,DEISMOND,ROSA,COMMUNITY COORDINATOR,82170.0,1602.93,83772.93
DEPARTMENT OF EDUCATION ADMIN,SERIDE,READ,COMMUNITY COORDINATOR,67834.0,639.27,68473.27
DEPARTMENT OF EDUCATION ADMIN,ELISA,CORADO DERAS,COMMUNITY ASSISTANT,40765.0,0.00,40765.00
DEPARTMENT OF EDUCATION ADMIN,YAZMYN,YEARDE,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,58811.0,0.00,58811.00
DEPARTMENT OF EDUCATION ADMIN,FOLASADE,AKINTUNDE,PHYSICAL THERAPIST,80730.0,0.00,80730.00

### Question 3
- *Using set_index(), change the DataFrame’s index to “Last Name”, then locate the data for a specific last name, say “Doe”, and display their “Agency Name”, “Base Salary”, and “Total OT Paid”.*

In [ ]:
# Assign the dataframe to the variable 'df'
df = nyc_payroll[['Agency Name', 'Last Name', 'Base Salary', 'Total OT Paid']]
# Set the index to the 'Last Name' variable
df.set_index("Last Name", inplace = True)
# Extract the information for the employee with a last name ABURTO
df.loc[ "ABURTO" ]

Agency Name      NYC EMPLOYEES RETIREMENT SYS
Base Salary                           76587.0
Total OT Paid                          694.62
Name: ABURTO, dtype: object

### Question 4
- *Find the 5 employees with the highest “Regular Gross Paid” and calculate their average “OT Hours”. Also, reset the index if you have changed it previously.*

In [97]:
# Reset the index from any previous changes
nyc_payroll.reset_index()
# Assign the dataframe to the variable 'df'
df = nyc_payroll[ ['Last Name', 'First Name', 'Regular Gross Paid', 'OT Hours'] ]
# return the 5 largest values of the 'Regular Gross Paid' variable
top = df.nlargest(5, 'Regular Gross Paid')
top

      Last Name First Name  Regular Gross Paid  OT Hours
61    BOODANIAN     BEDROS           215269.60       0.0
1378     SOHONI     ARVIND           193479.52       0.0
73         RICE   VICTORIA           186164.52       0.0
1469     KAPLAN     ANDREW           178356.14       0.0
1438      NOSSA     ROBERT           176719.36      32.5

### Question 4 (continued)

In [98]:
# Calculate the average of OT hours for the top 5 employees with the highest regular gross paid amounts
otavg = round(top.loc[:, 'OT Hours'].mean(), 2)
print('The average OT hours for the top 5 employees with the highest regular gross pay is {}'.format(otavg))

The average OT hours for the top 5 employees with the highest regular gross pay is 6.5

### Question 5
- *Sort the DataFrame by “Fiscal Year” and “Total Other Pay” in descending order, then set “First Name” as the index and use the loc accessor to retrieve the “Total Other Pay” for a specific first name, say “John”.*

In [177]:
# Reset the index from previous functions
nyc_payroll.reset_index()
# Assign the dataframe to variable 'sub_nyc_payroll'
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Fiscal Year', 'Total Other Pay']]
df = sub_nyc_payroll.sort_values(by= ['Fiscal Year', 'Total Other Pay'], ascending=False)
df.set_index("First Name", inplace = True)
df.loc[ "JOHN" ]

              Last Name  Fiscal Year  Total Other Pay
First Name
JOHN              VAETH         2023         22069.38
JOHN             FLECHA         2023         21871.86
JOHN          DINKELMAN         2023         19970.81
JOHN             BRODIE         2023         18133.17
JOHN            RAVALLI         2023         13704.17
JOHN        LEWANDOWSKI         2023          8790.69
JOHN           AKINDAYO         2023          6558.46
JOHN            KEILING         2023          4477.75
JOHN             MAUSER         2023          3186.05
JOHN        ROBERTS JR.         2022         20985.48
JOHN           THOMPSON         2022         20560.76
JOHN             SLEVIN         2022         20544.53
JOHN               COBB         2022         19878.38
JOHN           SYNOWIEC         2022         14771.53
JOHN          FERRAIOLO         2022          1662.47
JOHN            HOLLAND         2022             1.17
JOHN           CORCORAN         2022             0.00
JOHN              SHORT         2022             0.00
JOHN            OSBORNE         2022             0.00