<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw4_stoner_brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

### Question 1
- *How many employees have a “Base Salary” within the top 10% of the DataFrame?*

In [96]:
nyc_payroll.quantile(0.90, numeric_only = True)
nyc_payroll.sort_values(['Base Salary'], ascending=False)
between_dates = nyc_payroll["Base Salary"].between(114860.500, 233094.1)
nyc_payroll[between_dates]
between_dates[between_dates].count()

200

In [ ]:

# nyc_payroll['Base Salary'].quantile(0.90)
nyc_payroll.value_counts()

### Question 2
- *Filter the DataFrame for employees who have “OT Hours” greater than 0 but less than 100, and their “Leave Status as of June 30” is “ACTIVE”.*

In [ ]:
# We can filter with the query method and pass in each condition as an argument
# This simplifies the code, compared to using a boolean series for the conditions
emp = nyc_payroll.query("`OT Hours` > 0 & `OT Hours` < 90 & `Leave Status as of June 30` == 'ACTIVE'")
emp.sort_values(['OT Hours'], ascending=True)

### Question 3
- *Find the unique job titles in the “DEPARTMENT OF EDUCATION ADMIN” agency and count how many there are.*

In [91]:
# Filter the dataframe to include only observations with the agency name of 'DEPARTMENT OF EDUCATION ADMIN'
name = nyc_payroll['Agency Name'] == 'DEPARTMENT OF EDUCATION ADMIN'
df = nyc_payroll[name]
# In the filtered dataframe, drop duplicates and count the unique values in 'Title Description' variable
unique_df = df.drop_duplicates(subset = ['Title Description'])
output = unique_df['Title Description'].nunique()
print('There are',output, 'unique job titles')
# We can also verify the result by uncommenting the code below and viewing the 26 unique title descriptions
# unique_df['Title Description'].value_counts()

There are 26 unique job titles