<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw5_stoner_brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [14]:
fao = pd.read_csv("https://bcdanl.github.io/data/fao_stat.csv",
                  encoding = 'ISO-8859-1')

In [3]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

In [ ]:
fao

### Question 1
- *What percentage of the values is missing for each variable?*

In [ ]:
# Here we can use method chaining to calculate the percentage of null values in each variable
# To verify the results, fao.info() will display both the total observations and non-null counts
# For example, sanitation_service has 1772 non-null values of the 1854 total observations, which gives us 82 null entries (1854 - 1772)
# 82 / 1854 = 4.42%
fao.info()
print(' ')
(
fao.isna()
   .mean()
   .round(4) * 100
  )

### Question 2
- *Fill missing values in the gdp_per_capita variable with the mean value of that variable.*

In [ ]:
# Look at the number of NaN values in the variable, just to ensure we do have NaN values
fao['gdp_per_capita'].isna().sum()

# Find the mean of the values in the gdp_per_capita variable
mean_value = fao['gdp_per_capita'].mean().round(1)
mean_value

# Add the imputed value to the dataframe
fao['gdp_per_capita'].fillna(value=mean_value, inplace=True)
fao

### Question 3
- *Drop observations where drinking_water or sanitation_service information is missing.*

In [ ]:
# We can pass in a list of variables to the dropna method to remove observations with missing values in those variables
# To verify this is working correctly, it was observed that index 60 through 62 was removed, which originally had NaN values in the dataframe for the drinking_water variable
fao.dropna(subset = ['drinking_water', 'sanitation_service'])

### Question 4
- *What is the average drinking_water access percentage for each Area grouped by SSA status?*

In [40]:
# The SSA variable is of type bool, so we know that it consists of two groups
# Within those groups, the Area variable is also passed in further aggregate the results by area
groups = fao.groupby(['SSA', 'Area'])
groups.mean().round(2)

                                     Year  gdp_per_capita  drinking_water  \
SSA   Area
False Afghanistan                  2016.0         2060.84           64.16
      Albania                      2016.0        12371.28           93.71
      Algeria                      2016.0        11468.22           93.59
      American Samoa               2016.0             NaN           99.00
      Andorra                      2016.0             NaN           99.00
...                                   ...             ...             ...
True  Togo                         2016.0         1957.37           64.69
      Uganda                       2016.0         2083.20           49.46
      United Republic of Tanzania  2016.0         2425.78           54.67
      Zambia                       2016.0         3428.36           62.14
      Zimbabwe                     2016.0         3683.17           64.53

                                   sanitation_service  children_stunted  \
SSA   Area
False Afghanistan                               44.23             39.84
      Albania                                   97.93             13.43
      Algeria                                   86.58             10.77
      American Samoa                            56.40               NaN
      Andorra                                   99.00               NaN
...                                               ...               ...
True  Togo                                      16.71             25.61
      Uganda                                    19.26             30.42
      United Republic of Tanzania               27.08             34.91
      Zambia                                    30.14             36.46
      Zimbabwe                                  37.53             26.39

                                   children_overweight  investment_pct
SSA   Area
False Afghanistan                                 4.62           15.36
      Albania                                    17.68           24.47
      Algeria                                    13.16           42.27
      American Samoa                               NaN             NaN
      Andorra                                      NaN           18.68
...                                                ...             ...
True  Togo                                        1.96           20.69
      Uganda                                      3.84           24.71
      United Republic of Tanzania                 4.92           36.89
      Zambia                                      5.79           33.11
      Zimbabwe                                    4.09            9.97

[206 rows x 7 columns]

In [28]:
fao.nunique()

SSA                       2
Area                    206
Year                      9
gdp_per_capita         1693
drinking_water          430
sanitation_service      604
children_stunted        443
children_overweight     181
investment_pct         1791
dtype: int64