<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_module_1_hw1_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# This code assigns the integer value 5 to the variable x and prints the result to the terminal
x = 5
print(x)

5

In [4]:
# In this example, 2 will be the first value returned, because it's in position 1 (1 is actually in position 0)
# and 4 will be the last number returned in the range, because it represents the end index position minus one
lst = [1,2,3,4,5]
print(lst[1:4])

[2, 3, 4]

In [15]:
# The syntax below illustrates how to create key/value pairs in a dictionary. The pair is separated by a colon, with a comma between pairs
# To retrieve the value from a key, place the key in square brackets next to the dictionary
lst_fruits = {"apple": 5, "banana": 3, "cherry": 7}
print(lst_fruits["banana"])

3

In [19]:
# True and False would evaluate to false, when evaluating a single condition.  Both the left and right operands must be true in an AND comparison to return a true value.
# Example: 19 == 20 cannot be both true and false, so this is false

# True or False would evaluate to True, when evaluating a single condition.  With the OR operatopr, either operand must evaluate to true, for the entire expression to be true.  Since all possibilities will be either true or false, any condition will be true
# Example: 19 == 20 is false and not true, so this satifies that condition and evaluates to true

# This expression would evaluate to True, as int(100) is not equal to str(100), as they are different datatypes, and 25 is less than 36
not (100 == '100' and 25 < 36)

True