<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw2_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
nhl = pd.read_csv('https://bcdanl.github.io/data/NHL-1617.csv')

In [33]:
# Question 1
# Examine the non-null values present in the variables
nhl[ ['TOI'] ].count()
# Sort the result set ascending to ensure there no values of 0, indicating no ice time for a player
nhl.sort_values(['TOI'], ascending = True)

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
650,651,06.10.1994,Dauphin,CAN,CAN,74,215,Pulock,Ryan,D,NYI,1,0,0,237,3.95
460,461,16.02.1989,Toronto,CAN,CAN,70,203,Liambas,Mike,LW,NSH,1,0,0,282,4.70
671,672,25.03.1992,Zagreb,HRV,HRV,74,200,Rendulic,Borna,RW/C,VAN,1,0,0,291,4.85
335,336,25.07.1993,Val-d'Or,CAN,CAN,76,210,Henley,Samuel,C/RW,COL,1,1,0,318,5.30
584,585,29.07.1994,Halifax,CAN,CAN,73,215,O'Brien,Liam,C/LW,WSH,1,0,0,368,6.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,393,31.05.1990,Landsbro,SWE,SWE,72,191,Karlsson,Erik,D,OTT,77,17,54,123989,26.83
678,679,27.10.1994,Turku,FIN,FIN,76,203,Ristolainen,Rasmus,D,BUF,79,6,39,125458,26.47
94,95,27.03.1985,Roseau,USA,USA,77,260,Byfuglien,Dustin,D/RW,WPG,80,13,39,131734,27.45
797,798,21.01.1985,Madison,USA,USA,74,206,Suter,Ryan,D,MIN,82,9,31,132469,26.93
181,182,08.12.1989,London,CAN,CAN,73,195,Doughty,Drew,D,L.A,82,12,32,133550,27.15

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
650,651,06.10.1994,Dauphin,CAN,CAN,74,215,Pulock,Ryan,D,NYI,1,0,0,237,3.95
460,461,16.02.1989,Toronto,CAN,CAN,70,203,Liambas,Mike,LW,NSH,1,0,0,282,4.70
671,672,25.03.1992,Zagreb,HRV,HRV,74,200,Rendulic,Borna,RW/C,VAN,1,0,0,291,4.85
335,336,25.07.1993,Val-d'Or,CAN,CAN,76,210,Henley,Samuel,C/RW,COL,1,1,0,318,5.30
584,585,29.07.1994,Halifax,CAN,CAN,73,215,O'Brien,Liam,C/LW,WSH,1,0,0,368,6.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,393,31.05.1990,Landsbro,SWE,SWE,72,191,Karlsson,Erik,D,OTT,77,17,54,123989,26.83
678,679,27.10.1994,Turku,FIN,FIN,76,203,Ristolainen,Rasmus,D,BUF,79,6,39,125458,26.47
94,95,27.03.1985,Roseau,USA,USA,77,260,Byfuglien,Dustin,D/RW,WPG,80,13,39,131734,27.45
797,798,21.01.1985,Madison,USA,USA,74,206,Suter,Ryan,D,MIN,82,9,31,132469,26.93
181,182,08.12.1989,London,CAN,CAN,73,195,Doughty,Drew,D,L.A,82,12,32,133550,27.15

,id_player,Born,City,Cntry,Nat,Ht,Wt,Last_Name,First_Name,Position,Team,GP,G,A,TOI,TOI_GP
650,651,06.10.1994,Dauphin,CAN,CAN,74,215,Pulock,Ryan,D,NYI,1,0,0,237,3.95
460,461,16.02.1989,Toronto,CAN,CAN,70,203,Liambas,Mike,LW,NSH,1,0,0,282,4.70
671,672,25.03.1992,Zagreb,HRV,HRV,74,200,Rendulic,Borna,RW/C,VAN,1,0,0,291,4.85
335,336,25.07.1993,Val-d'Or,CAN,CAN,76,210,Henley,Samuel,C/RW,COL,1,1,0,318,5.30
584,585,29.07.1994,Halifax,CAN,CAN,73,215,O'Brien,Liam,C/LW,WSH,1,0,0,368,6.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,393,31.05.1990,Landsbro,SWE,SWE,72,191,Karlsson,Erik,D,OTT,77,17,54,123989,26.83
678,679,27.10.1994,Turku,FIN,FIN,76,203,Ristolainen,Rasmus,D,BUF,79,6,39,125458,26.47
94,95,27.03.1985,Roseau,USA,USA,77,260,Byfuglien,Dustin,D/RW,WPG,80,13,39,131734,27.45
797,798,21.01.1985,Madison,USA,USA,74,206,Suter,Ryan,D,MIN,82,9,31,132469,26.93
181,182,08.12.1989,London,CAN,CAN,73,195,Doughty,Drew,D,L.A,82,12,32,133550,27.15