<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw4_stoner_brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

### Question 1
- *How many employees have a “Base Salary” within the top 10% of the DataFrame?*

In [ ]:
nyc_payroll.quantile(0.90, numeric_only = True)
nyc_payroll.sort_values(['Base Salary'], ascending=False)
between_dates = nyc_payroll["Base Salary"].between(114860.500, 233094.1)
nyc_payroll[between_dates]
between_dates[between_dates].count()

200

In [ ]:

# nyc_payroll['Base Salary'].quantile(0.90)
nyc_payroll.value_counts()

### Question 2
- *Filter the DataFrame for employees who have “OT Hours” greater than 0 but less than 100, and their “Leave Status as of June 30” is “ACTIVE”.*

In [ ]:
# We can filter with the query method and pass in each condition as an argument
# This simplifies the code, compared to using a boolean series for the conditions
emp = nyc_payroll.query("`OT Hours` > 0 & `OT Hours` < 90 & `Leave Status as of June 30` == 'ACTIVE'")
emp.sort_values(['OT Hours'], ascending=True)

### Question 3
- *Find the unique job titles in the “DEPARTMENT OF EDUCATION ADMIN” agency and count how many there are.*

In [ ]:
# Filter the dataframe to include only observations with the agency name of 'DEPARTMENT OF EDUCATION ADMIN'
name = nyc_payroll['Agency Name'] == 'DEPARTMENT OF EDUCATION ADMIN'
df = nyc_payroll[name]
# In the filtered dataframe, drop duplicates and count the unique values in 'Title Description' variable
unique_df = df.drop_duplicates(subset = ['Title Description'])
output = unique_df['Title Description'].nunique()
print('There are',output, 'unique job titles')
# We can also verify the result by uncommenting the code below and viewing the 26 unique title descriptions
# unique_df['Title Description'].value_counts()

There are 26 unique job titles

### Question 4 - Part 1
- *Identify the employee(s) with the highest “Total OT Paid” in the DataFrame.
Include their “First Name”, “Last Name”, and “Total OT Paid”.*

In [17]:
# Sort the dataframe and return the top employees with the highest total OT paid
df = nyc_payroll[ ['First Name', 'Last Name', 'Total OT Paid'] ]
sorted_df = df.sort_values(['Total OT Paid'], ascending =False)
sorted_df.head(5)

     First Name       Last Name  Total OT Paid
1199   EMMANUEL  KOUTSOULIDAKIS      126184.02
1294     ROBERT         RODGERS       92892.79
462      GLORIA          CHAVEZ       76678.61
932         NaN             NaN       75099.43
1840     REGINA           ADAMI       75091.43

### Question 5
- *Find the five most popular song.*

    - *A value of a song is defined as a combination of a artist_name value and a track_name value.*
    - *Who are artists for those five most popular song?*

In [18]:
spotify = pd.read_csv('https://bcdanl.github.io/data/spotify_all.csv')

In [72]:
df = spotify
HighTrack = df['track_name'].value_counts().nlargest(5)


#HighArtist = df['artist_name'].value_counts().nlargest(5)
#HighTrack = df['track_name'].value_counts().nlargest(5)

#TrackNames = HighTrack


#df.sort_values(['artist_name'], ascending = False)
#df.value_counts(['track_name'])
#df.value_counts(['artist_name'])
# df.value_counts(['track_name'])

Closer       205
One Dance    144
HUMBLE.      142
Home         136
Roses        132
Name: track_name, dtype: int64