<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/danl_m1_hw3_Stoner_Brian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [ ]:
# Used throughout the questions to reset the index
nyc_payroll.reset_index()

In [ ]:
# Discover insights into the dataframe
nyc_payroll.info()

### Question 1
- *Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.*

In [ ]:
(
nyc_payroll[ ['First Name', 'Last Name', 'Base Salary', 'Total OT Paid' ] ]
  .sort_values(['Base Salary'], ascending=False)
  .head(10)
)

### Question 2
- *Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.*

In [ ]:
# Add a variable to the dataframe that calculates total compensation
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']
# Select only the required variables from the dataframe and assign them to a new (sub) dataframe
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Title Description', 'Agency Name', 'Base Salary', 'Total OT Paid', 'Total Compensation']]
# Set the index on a new column that will be useful for further data wrangling
sub_nyc_payroll.set_index("Agency Name", inplace = True)
# Extract observations where the agency name is DEPARTMENT OF EDUCATION ADMIN
sub_nyc_payroll.loc[ "DEPARTMENT OF EDUCATION ADMIN" ]

,First Name,Last Name,Title Description,Base Salary,Total OT Paid,Total Compensation
Agency Name,,,,,,
DEPARTMENT OF EDUCATION ADMIN,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,53820.0,0.00,53820.00
DEPARTMENT OF EDUCATION ADMIN,JENNA,VARNAUSKAS,OCCUPATIONAL THERAPIST,75381.0,0.00,75381.00
DEPARTMENT OF EDUCATION ADMIN,CHRISTINA,GRANQUIST,PHYSICAL THERAPIST,80270.0,0.00,80270.00
DEPARTMENT OF EDUCATION ADMIN,SANDRA,QUIAH,COMMUNITY ASSOCIATE,55323.0,0.00,55323.00
DEPARTMENT OF EDUCATION ADMIN,SHATARA,EARL,PROCUREMENT ANALYST,62055.0,0.00,62055.00
...,...,...,...,...,...,...
DEPARTMENT OF EDUCATION ADMIN,DEISMOND,ROSA,COMMUNITY COORDINATOR,82170.0,1602.93,83772.93
DEPARTMENT OF EDUCATION ADMIN,SERIDE,READ,COMMUNITY COORDINATOR,67834.0,639.27,68473.27
DEPARTMENT OF EDUCATION ADMIN,ELISA,CORADO DERAS,COMMUNITY ASSISTANT,40765.0,0.00,40765.00
DEPARTMENT OF EDUCATION ADMIN,YAZMYN,YEARDE,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,58811.0,0.00,58811.00
DEPARTMENT OF EDUCATION ADMIN,FOLASADE,AKINTUNDE,PHYSICAL THERAPIST,80730.0,0.00,80730.00

### Question 3
- *Using set_index(), change the DataFrame’s index to “Last Name”, then locate the data for a specific last name, say “Doe”, and display their “Agency Name”, “Base Salary”, and “Total OT Paid”.*

In [ ]:
# Assign the dataframe to the variable 'df'
df = nyc_payroll[['Agency Name', 'Last Name', 'Base Salary', 'Total OT Paid']]
# Set the index to the 'Last Name' variable
df.set_index("Last Name", inplace = True)
# Extract the information for the employee with a last name ABURTO
df.loc[ "ABURTO" ]

Agency Name      NYC EMPLOYEES RETIREMENT SYS
Base Salary                           76587.0
Total OT Paid                          694.62
Name: ABURTO, dtype: object

### Question 4
- *Find the 5 employees with the highest “Regular Gross Paid” and calculate their average “OT Hours”. Also, reset the index if you have changed it previously.*

In [ ]:
# Reset the index from any previous changes
nyc_payroll.reset_index()
# Assign the dataframe to the variable 'df'
df = nyc_payroll[ ['Last Name', 'First Name', 'Regular Gross Paid', 'OT Hours'] ]
# Return the 5 largest values of the 'Regular Gross Paid' variable
top = df.nlargest(5, 'Regular Gross Paid', keep = 'all')
top

      Last Name First Name  Regular Gross Paid  OT Hours
61    BOODANIAN     BEDROS           215269.60       0.0
1378     SOHONI     ARVIND           193479.52       0.0
73         RICE   VICTORIA           186164.52       0.0
1469     KAPLAN     ANDREW           178356.14       0.0
1438      NOSSA     ROBERT           176719.36      32.5

### Question 4 (continued)

In [ ]:
# Calculate the average of OT hours for the top 5 employees with the highest regular gross paid amounts
otavg = round(top.loc[:, 'OT Hours'].mean(), 2)
print('The average OT hours for the top 5 employees with the highest regular gross pay is {}'.format(otavg))

The average OT hours for the top 5 employees with the highest regular gross pay is 6.5

### Question 5
- *Sort the DataFrame by “Fiscal Year” and “Total Other Pay” in descending order, then set “First Name” as the index and use the loc accessor to retrieve the “Total Other Pay” for a specific first name, say “John”.*

In [ ]:
# Reset the index from previous functions
nyc_payroll.reset_index()
# Assign the dataframe to variable 'sub_nyc_payroll'
sub_nyc_payroll = nyc_payroll[['First Name', 'Last Name', 'Fiscal Year', 'Total Other Pay']]
df = sub_nyc_payroll.sort_values(by= ['Fiscal Year', 'Total Other Pay'], ascending=False)
df.set_index("First Name", inplace = True)
df.loc[ "JOHN" ]

              Last Name  Fiscal Year  Total Other Pay
First Name
JOHN              VAETH         2023         22069.38
JOHN             FLECHA         2023         21871.86
JOHN          DINKELMAN         2023         19970.81
JOHN             BRODIE         2023         18133.17
JOHN            RAVALLI         2023         13704.17
JOHN        LEWANDOWSKI         2023          8790.69
JOHN           AKINDAYO         2023          6558.46
JOHN            KEILING         2023          4477.75
JOHN             MAUSER         2023          3186.05
JOHN        ROBERTS JR.         2022         20985.48
JOHN           THOMPSON         2022         20560.76
JOHN             SLEVIN         2022         20544.53
JOHN               COBB         2022         19878.38
JOHN           SYNOWIEC         2022         14771.53
JOHN          FERRAIOLO         2022          1662.47
JOHN            HOLLAND         2022             1.17
JOHN           CORCORAN         2022             0.00
JOHN              SHORT         2022             0.00
JOHN            OSBORNE         2022             0.00

### Question 6
- *Select employees who have “OT Hours” greater than 0, calculate their “OT Rate” (Total OT Paid / OT Hours), and then find the employee with the highest “OT Rate”. Display their full name and OT Rate.*

In [ ]:
# Add the new calculated variable to the dataframe
nyc_payroll['OT Rate'] = round(nyc_payroll['Total OT Paid'] / nyc_payroll['OT Hours'], 2)
df = nyc_payroll[ ['First Name', 'Last Name', 'OT Rate', 'OT Hours'] ]
# Filter out any rows where the OT hours are != 0
df = df.loc[df['OT Hours'] > 0]
df.set_index(['OT Hours'])
# Sort 'OT Rate' descending to see the highest value in the list
df.sort_values(['OT Rate'], ascending=False)
# Keep only the top result of the employee with the highest OT rate
df.nlargest(1, 'OT Rate', keep = "all")
# Verified the result was correct by running
#df.max()

    First Name Last Name  OT Rate  OT Hours
800     DANIEL   DEBONIS   174.12      26.0

### Question 7
- *Sort the DataFrame first by “Work Location Borough” alphabetically, and then by “Total Compensation” (sum of “Base Salary” and “Total OT Paid”) in descending order within each borough.*

In [10]:
nyc_payroll['Total Compensation'] = round(nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid'], 2)
nyc_payroll.sort_values(by = ['Work Location Borough', 'Total Compensation'], ascending = [True, False])

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
1172,2023,56,POLICE DEPARTMENT,ROBINSON,DOMINIC,L,07/02/2001,BRONX,POLICE OFFICER D/A DETECTIVE 2ND GR,ACTIVE,118056.00,per Annum,2080.0,114065.87,705.17,68725.63,24641.79,186781.63
253,2022,902,BRONX DISTRICT ATTORNEY,HANRATTY,DONALD,C,03/19/2017,BRONX,ASSISTANT DISTRICT ATTORNEY,ACTIVE,170000.00,per Annum,1820.0,161533.16,0.00,0.00,3500.00,170000.00
1182,2023,902,BRONX DISTRICT ATTORNEY,DAVIS,JEFFREY,L,10/30/2017,BRONX,ASSISTANT DISTRICT ATTORNEY,ACTIVE,160000.00,per Annum,1820.0,156876.82,0.00,0.00,9000.00,160000.00
602,2022,56,POLICE DEPARTMENT,RUMPH,ANTHONY,NaN,04/30/1995,BRONX,P.O. DA DET GR3,ACTIVE,105062.00,per Annum,2080.0,113336.55,657.60,49706.74,21117.63,154768.74
307,2022,57,FIRE DEPARTMENT,WEBER,RYAN,P,03/07/2004,BRONX,FIREFIGHTER,ACTIVE,92073.00,per Annum,2080.0,110621.56,1039.33,61087.56,20700.83,153160.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,2022,826,DEPT OF ENVIRONMENT PROTECTION,HAMLIN,KELLY,M,07/07/2003,SULLIVAN,PROJECT MANAGER,ACTIVE,65640.00,per Annum,1820.0,65460.20,0.00,0.00,6462.98,65640.00
1137,2023,826,DEPT OF ENVIRONMENT PROTECTION,COLLINS,KAREN,M,01/03/2006,ULSTER,ASSOCIATE LABORATORY MICROBIOLOGIST,ACTIVE,68962.00,per Annum,1820.0,65283.57,0.00,1.10,11768.36,68963.10
123,2022,826,DEPT OF ENVIRONMENT PROTECTION,FOULKROD,THOMAS,P,11/13/2017,ULSTER,ASSOCIATE PROJECT MANAGER,ACTIVE,67758.00,per Annum,1820.0,67572.44,0.00,0.00,334.38,67758.00
1797,2023,826,DEPT OF ENVIRONMENT PROTECTION,TSVITMAN,LEONID,NaN,04/08/2002,WESTCHESTER,RESEARCH ASSISTANT,ACTIVE,57593.00,per Annum,1820.0,57666.13,83.50,3643.47,18795.62,61236.47
1260,2023,826,DEPT OF ENVIRONMENT PROTECTION,HOULIHAN,ROBERT,NaN,03/02/1998,WESTCHESTER,ELECTRICIAN,ON SEPARATION LEAVE,440.16,per Day,1855.0,116642.40,91.50,8630.28,1839.24,9070.44