<a href="https://colab.research.google.com/github/brianstoner/Data-Prep-and-Mgmt/blob/main/Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
round((2 ** 5) / 7 * (4 - 2 ** 3), 2)

-18.29

In [1]:
#20 == '20' # false because int 20 doesn't equal string 20
x = 4.0
y = .5
x < y or 3*y < x # the first condition evaluates false (4 !< .5), but second evaluates true (1.5 < 4)

True

2nd exercise

In [172]:
fare = "$10.00"
fare1 = (fare[1:3])
convertedfare = int(fare1)
tip = "2.00$"
tip1 = (tip[:1])
convertedtip = int(tip1)
tax = "$ 0.80"
tax1 = (tax[3:])
convertedtax = float(tax1)


print("The total trip cost is: ", convertedfare + convertedtip + convertedtax)

The total trip cost is:  12.8

In [148]:
list_variable = [100, 144, 169, 1000, 8]

print ("The largest value in the list is:", max(list_variable))

The largest value in the list is: 1000

In [21]:
# import pandas as pd

this is an example of string concatenation

In [40]:
name_list = ["Fred", "Ben", "Joe", "Mama"]
for name in name_list:
  print(name)

Fred
Ben
Joe
Mama

In [44]:
cities_to_temps = {"Paris": 28, "London": 22, "Seville": 36, "Wellesley": 29}

cities_to_temps.items()

dict_items([('Paris', 28), ('London', 22), ('Seville', 36), ('Wellesley', 29)])

In [56]:
x = ("hello world")
x[::2]

'hlowrd'

In [60]:
list_example = ['one', 'two', 'three']
list_example[ 0 : 1 ]
# list_example[ 1 : 3 ]

['one']

In [64]:
suny = ['Geneseo', 'Brockport', 'Oswego', 'Binghamton',
        'Stony Brook', 'New Paltz']
suny[3:5]

['Binghamton', 'Stony Brook']

In [65]:
int("20")

20